*.log
*.dropbox
*.lb
*.aux
*.gz
*.out
*.toc
*.nav
*.snm
*Icon*
*.blg
karakoy/*
*.svg
*.synctex
DefenseSlides/*
AlmostThere/*
Figen/*
Backup/*
Ind/*
OldNotes/*
Relevant Papers/*
Slides/*
rb.synctex.gz
rb.synctex.gz(busy)